/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
	-fx-background-color:#E6E6E6;
	-fx-text-fill: black;
	-fx-font-family: "Chiller";
	-fx-font-size: 20px;
	 
}

.dialog-pane{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-family: "Chiller";
	-fx-font-size: 20px;
	
}

.dialog-pane .button{
	-fx-background-color:#E6E6E6;
	-fx-text-fill: black;
	-fx-font-family: "Chiller";
	-fx-font-size: 20px;
}



